@font-face {
    font-family: '';
    src: url('NotoSansSC-Bold-Alphabetic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansSC-Light-Alphabetic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansSC-Black-Alphabetic.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansSC-Medium-Alphabetic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansSC-Thin-Alphabetic.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansSC-Regular-Alphabetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

